@import "tailwindcss";

:root {
  --background: #E0E5EC;
  --foreground: #4A5568;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
